.account {
    display: flex;
    padding: 6rem 0;
    &--settings {
        background-color: $white;
        box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.06);
    }
    &__options {
        background-image: linear-gradient(to right bottom, #7dd56f, #28b487);
        flex: 0 0 23%;
        margin-right: 4%;
        padding: 2.5rem;
    }
    &__view {
        flex: 1;
    }
    &__view-title {
        text-transform: uppercase;
        font-weight: 700;
        background-image: linear-gradient(to right, #7dd56f, #28b487);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        letter-spacing: 0.1rem;
        line-height: 1.3;
        display: inline-block;
        margin-bottom: 4rem;
    }
}

.account-nav {
    &__ul {
        list-style-type: none;
    }
    &__el {
        border-bottom: 0.1rem solid $white;
        padding: 2rem 0;
        &:last-child {
            border: 0;
        }
        & button {
            font-size: 1.8rem;
            text-transform: uppercase;
            border: 0;
            background: transparent;
            color: $white;
        }
    }
}

@media screen and (max-width: 1200px) {
    .account {
        display: flex;
        flex-direction: column;
        padding: 4rem 0;
        &__options {
            background-image: linear-gradient(to right bottom, #7dd56f, #28b487);
            flex: 0 0 1;
            margin-right: 0;
            padding: 1.5rem;
        }
        &__view {
            margin-top: 4rem;
            flex: 1;
        }
    }
    
    .account-nav {
        &__ul {
            list-style-type: none;
        }
        &__el {
            padding: 1.5rem 0;
            &:last-child {
                border: 0;
            }
            & button {
                font-size: 1.6rem;
                text-transform: uppercase;
                border: 0;
                background: transparent;
                color: $white;
            }
        }
    }
}

@media screen and (max-width: 991px) {
    .account {
        padding: 2rem 0;
        &__options {
            padding: 1rem;
        }
    }
    .account-nav {
        &__ul {
            list-style-type: none;
        }
    }
}

.user-header {
    display: flex;
    align-items: center;
    &__image {
        flex: 0 0 20rem;
        & img {
            width: 20rem;
            height: 20rem;
            border-radius: 100%;
            object-fit: cover;
        }
    }
    &__info {
        flex: 0 0 50%;
        margin: 0 4rem;
        color: $white;
    }
    &__info-name {
        color: currentColor;
        font-size: 4rem;
    }
    &__info-description {
        color: currentColor; 
        font-size: 1.8rem;
        margin: 0.5rem 0 2rem 0;
    }
    &__socials-icon {
        fill: $white;
        height: 4rem;
        width: 4rem;
        &:not(:last-child) {
            margin-right: 2rem;
        }
    }
}

@media screen and (max-width: 767px) {
    .user-header {
        &__image {
            flex: 0 0 15rem;
            & img {
                width: 15rem;
                height: 15rem;
            }
        }
        &__info {
            margin: 0 2rem;
        }
        &__info-name {
            font-size: 2.6rem;
        }
        &__info-description {
            font-size: 1.6rem;
        }
        &__socials-icon {
            fill: $white;
            height: 3rem;
            width: 3rem;
            &:not(:last-child) {
                margin-right: 1.5rem;
            }
        }
    }
}

@media screen and (max-width: 580px) {
    .user-header {
        display: block;
        &__image {
            flex: 0 0 1;
            & img {
                display: block;
                margin: 0 auto;
                width: 15rem;
                height: 15rem;
            }
        }
        &__info {
            margin: 0 2rem;
            text-align: center;
        }
        &__info-name {
            margin-top: 2rem;
            font-size: 2.6rem;
        }
    }
}