.nav {
    display: flex;
    &--posts {
        flex: 0 1 20%;
    }
    &__user {
        flex: 0 1 80%;
        justify-content: flex-end;
    }
    &__user-img {
        height: 4rem;
        width: 4rem;
        border-radius: 100%;
        margin-right: 1rem;
        object-fit: cover;
    }
    &__el {
        color: $light-grey;
        text-transform: uppercase;
        font-size: 1.8rem;
        text-decoration: none;
        display: flex;
        align-items: center;
        transition: all 0.2s;
        font-weight: 400;
        border: none;
        cursor: pointer;
        &:hover {
            transform: translateY(-2px);
            text-shadow: 0 0.7rem 1rem #000;
        }
        &:not(:last-child) {
            margin-right: 3rem;
        }
        &--cta {
            padding: 1.5rem 3rem;
            border-radius: 5rem;
            border: 1px solid currentColor;
            transition: all 0.3s;
            &:hover {
                background-color: $light-grey;
                color: $grey;
                text-shadow: none;
                border-color: $light-grey;
            }
        }
    }
}

@media screen and (max-width: 1400px) {
    .nav {
        &__el {
            font-size: 1.6rem;
            &:not(:last-child) {
                margin-right: 2.5rem;
            }
            &--cta {
                padding: 1rem 2rem;
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .nav {
        &--posts {
            flex: 0 1 25%;
        }
        &__user {
            flex: 0 1 75%;
        }
        &__el {
            font-size: 1.4rem;
            &:not(:last-child) {
                margin-right: 2rem;
            }
            &--cta {
                padding: 1rem 1.5rem;
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .nav {
        &--posts {
            flex: 0 1 100%;
            margin-bottom: 2rem;
        }
        &__user {
            flex: 0 1 100%;
        }
        &__el {
            font-size: 1.2rem;
            &:not(:last-child) {
                margin-right: 2rem;
            }
            &--cta {
                padding: 1rem;
            }
        }
        & .button--green {
            padding: 1rem;
        }
    }
}

@media screen and (max-width: 500px) {
    .nav {
        width: 100%;
        display: block;
        &--posts {
            margin-bottom: 0;
            & > .header__logo {
                margin-bottom: 2rem;
            }
        }
        &__el {
            font-size: 1.4rem;
            margin-bottom: 1.5rem;
            &:not(:last-child) {
                margin-right: 0;
            }
        }
    }
}