.button {
    font-size: 1.8rem;
    padding: 1.4rem 3rem;
    border-radius: 10rem;
    text-transform: uppercase;
    display: inline-block;
    text-decoration: none;
    position: relative;
    transition: all 0.4s;
    font-weight: 400;
    border: none;
    cursor: pointer;
    &--green {
        background-color: $green;
        color: $white;
    }
}
