.card {
    border-radius: 0.3rem;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.1);
    background-color: $white;
    backface-visibility: hidden;
    &__header {
        position: relative;
    }
    &__image {
        width: 100%;
        height: 30rem;
        cursor: pointer;
    }
    &__tag {
        position: absolute;
        color: $white;
        font-weight: 300;
        background-color: $green;
        padding: 1rem;
        bottom: 2rem;
        right: 2rem;
        &--orange {
            background-color: $orange;  
        }
        &--yellow {
            background-color: $yellow; 
            color: $black;
        }
    }
    &__details {
        padding: 3rem 2rem;
    }
    &__title {
        margin-bottom: 1rem;
        display: block;
        color: $black;
        font-size: 2.2rem;
        font-weight: 700;
        text-decoration: none;
        cursor: pointer;
        width: 95%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    &__description {
        line-height: 1.4;
        display: block;
        height: 9rem;
        overflow: hidden;
    }
    &__interaction {
        display: flex;
        align-items: center;
        padding-top: 2rem;
    }
    &__interaction-block {
        display: flex;
        align-items: center;
        font-size: 1.4rem;
        font-weight: 700;
        cursor: pointer;
        &:not(:last-child) {
            margin-right: 2rem;
        }
    }
    &__interaction-icon {
        fill: $red;
        width: 2rem;
        height: 2rem;
        margin-right: 1rem;
    }
    &__interaction-icon-comment {
        fill: $black;
    }
    &__user-link {
        color: $black;
        text-decoration: none;
    }
    &__user {
        display: flex;
        align-items: center;
        background-color: $light-grey;
        padding: 1.5rem;
        border-top: 0.1rem solid darken($light-grey, 5%);
        cursor: pointer;
    }
    &__user-image {
        width: 6rem;
        width: 6rem;
        flex: 0 0 6rem;
        border-radius: 100%;
        margin-right: 0.5rem;
    }
    &__user-info {
        flex: 1;
        display: flex;
        flex-direction: column;
        font-size: 1.8rem;
        & div:first-child {
            font-weight: 700;
        }
        & div:last-child {
            font-size: 1.6rem;
        }
    }
    &__user-options {
        width: 100%;
        display: flex;
        justify-content: space-between;
        & .button {
            flex: 0 1 48%;
        }
    }
}

.all-userCards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card-user {
    border-radius: 0.3rem;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.1);
    background-color: $white;
    backface-visibility: hidden;
    flex: 0 1 48%;
    margin-top: 5rem;
    &__header {
        display: flex;
        align-items: center;
        padding: 3rem 1.5rem;
    }
    &__image {
        margin-right: 1.5rem;
        & img {
            width: 12rem;
            height: 12rem;
            border-radius: 100%;
            cursor: pointer;
        }
    }
    &__title {
        font-size: 3rem;
        text-decoration: none;
        color: $black;
        cursor: pointer;
        font-weight: 700;
    }
    &__date {
        font-size: 1.8rem;
        margin: 1rem 0 1.5rem 0;
    }
    &__footer {
        background-color: $light-grey;
        padding: 1.5rem;
        border-top: 0.1rem solid darken($light-grey, 5%);
        cursor: pointer;
    }
    &__social{
        display: flex;
        align-items: center;
    }
    &__social-icon {
        width: 5rem;
        height: 5rem;
        fill: $black;
        &:not(:last-child) {
            margin-right: 1.5rem;
        }
    }
}