.login-form {
    margin: 6rem auto 8rem auto;
    max-width: 65rem;
    background-color: $white;
    box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.06);
    padding: 5rem 7rem;
    border-radius: 5px;
    &__title {
        margin: 2.5rem 0 4rem 0;
        color: $green;
    }
}

@media screen and (max-width: 767px) {
    .login-form {
        margin: 4rem auto 6rem auto;
        padding: 3rem 5rem;
    }
}
@media screen and (max-width: 580px) {
    .login-form {
        margin: 4rem auto 6rem auto;
        padding: 2rem;
        &__title {
            margin: 2rem 0;
            font-size: 1.8rem;
        }
    } 
}

.forgot-password-form, .reset-password-form {
    margin: 0 auto;
    margin-top: 4rem;
    max-width: 80rem;
    background-color: $white;
    box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.06);
    padding: 5rem 7rem;
    border-radius: 5px;
    &__title {
        margin: 2.5rem 0 1rem 0;
        color: $green;
    }
    &__description {
        font-size: 1.8rem;
        color: $grey; 
        margin-bottom: 4rem;
    }
}

@media screen and (max-width: 767px) {
    .forgot-password-form, .reset-password-form {
        padding: 3rem;
        &__title {
            margin: 1.5rem 0 1rem 0;
            color: $green;
        }
        &__description {
            font-size: 1.6rem;
            color: $grey; 
            margin-bottom: 2.5rem;
        }
    }
    
}

.comment-form {
    padding-bottom: 2rem;
}

.form {
    &--createPost {
        background-color: $white;
        box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.06);
        padding: 5rem;
        border-radius: 5px;
        margin-bottom: 6rem;
    }
    &--changePassword {
        background-color: $white;
        padding: 5rem;
        border-radius: 5px;
        margin-bottom: 6rem;
    }
    &--account {
        background-color: $white;
        padding: 5rem;
        border-radius: 5px;
    }
    &__group {
        margin-bottom: 2.5rem;
        &:last-child {
            margin-bottom: 0;
        }
        & .button {
            margin-left: auto;
            display: block;
        }
    }
    &__label {
        display: block;
        font-size: 1.8rem;
        font-weight: 600;
        margin-bottom: 1rem;
        color: $grey;
    }
    &__textarea, &__input {
        display: block;
        font-family: inherit;
        font-size: 1.6rem;
        color: inherit;
        padding: 1.25rem 1.75rem;
        border: none;
        width: 100%;
        background-color: #f2f2f2;
        border-top: 3px solid transparent;
        border-bottom: 3px solid transparent;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        border-radius: 4px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        outline: none;
        color: $black;
    }
    &__textarea {
        min-height: 15rem;
        background-color: darken($light-grey, 5%);
    }
    &__radio {
        margin-bottom: 1.5rem;
        &:last-child {
            margin-bottom: 3rem;  
        }
        input[type="radio"] {
          position: absolute;
          opacity: 0;
          + .form__radio-label {
              color: $grey;
              font-weight: 500;
              font-size: 1.6rem;
              text-transform: capitalize;
            &:before {
              content: '';
              background: $light-grey;
              border-radius: 100%;
              border: 0.1rem solid darken($light-grey, 25%);
              display: inline-block;
              width: 2rem;
              height: 2rem;
              position: relative;
              top: 0.05em;
              margin-right: 1rem; 
              vertical-align: top;
              cursor: pointer;
              text-align: center;
              transition: all 250ms ease;
            }
          }
          &:checked {
            + .form__radio-label {
              &:before {
                background-color: $green;
                box-shadow: inset 0 0 0 0.4rem $light-grey;
              }
            }
          }
          &:focus {
            + .form__radio-label {
              &:before {
                outline: none;
                border-color: $green;
              }
            }
          }
          &:disabled {
            + .form__radio-label {
              &:before {
                box-shadow: inset 0 0 0 0.4rem $light-grey;
                border-color: darken($light-grey, 25%);
                background: darken($light-grey, 25%);
              }
            }
          }
        }
      }
    &__upload {
        width: 0.01rem;
        height: 0.01rem;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
        & + label {
            color: $green;
            display: inline-block;
            text-decoration: none;
            border-bottom: 0.1rem solid $green;
            padding: 0.3rem;
            font-size: 2rem;
            -webkit-transition: all 0.2s;
            transition: all 0.2s;
            cursor: pointer;
        }
    }
    &__photo-upload {
        display: flex;
        align-items: center;
        font-size: 1.6rem;
    }
    &__user-photo {
        height: 8rem;
        width: 8rem;
        border-radius: 100%;
        object-fit: cover;
        margin-right: 2rem;
    }
    &__useraccount-block {
        display: flex;
        justify-content: space-between;
        margin-bottom: 4rem;

        & a {
            color: $green;
            text-decoration: none;
            font-size: 1.8rem;
            transition: all 0.4s;
            font-weight: 700;
            &:hover {
                transform: translateY(-2px);
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .form {
        &--createPost {
            padding: 3rem;
            margin-bottom: 0;
        }
        &__group {
            margin-bottom: 2rem;
        }
        &__label {
            font-size: 1.6rem;
            font-weight: 500;
        }
        &__upload {
            & + label {
                font-size: 1.6rem;
            }
        }
        &__photo-upload {
            display: flex;
            align-items: center;
            font-size: 1.6rem;
        }
        &__user-photo {
            height: 6rem;
            width: 6rem;
            margin-right: 1.5rem;
        }
        &__useraccount-block {
            margin-bottom: 3rem;
            & a {
                font-size: 1.4rem;
                font-weight: 500;
            }
        }
    }
}

@media screen and (max-width: 580px) {
    .form {
        &__group {
            margin-bottom: 2rem;
        }
        &__label {
            font-size: 1.4rem;
        }
        &__upload {
            & + label {
                font-size: 1.2rem;
            }
        }
        &__useraccount-block {
            margin-bottom: 2rem;
            display: block;
            & a {
                font-size: 1.2rem;
                font-weight: 700;
                display: block;
                &:not(last-child) {
                    margin-bottom: 1rem;
                }
            }
        }
    }
}

.create-post {
    max-width: 80rem;
    margin: 0 auto;
    transform: translateY(-40rem);
    color: $white;
    &--edit {
        color: $grey;
    }
    &__title {
        color: currentColor;
        margin-bottom: 1rem;
    }
    &__description {
        color: currentColor;
        font-size: 2rem;
        margin-bottom: 4rem;
    }
}

.account-settings {
    margin-bottom: 4rem;
    &__title {
        font-size: 3rem;
        text-transform: uppercase;
        font-weight: 700;
        background-image: linear-gradient(to right, #7dd56f, #28b487);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        letter-spacing: 0.1rem;
        line-height: 1.3;
        display: inline-block;
        margin-bottom: 4rem;
    }
}