*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // This defines what 1rem is
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    background-color: $light-grey;
}

.container {
    max-width: 120rem;
    padding: 2rem;
    margin: 0 auto;
    display: block;
    position: relative;
}

hr {
    border: 0;
    height: 0.2rem;
    background: $light-grey;
}