*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  background-color: #f7f7f7; }

.container {
  max-width: 120rem;
  padding: 2rem;
  margin: 0 auto;
  display: block;
  position: relative; }

hr {
  border: 0;
  height: 0.2rem;
  background: #f7f7f7; }

*,
html,
body {
  font-family: "Lato", "Open Sans", sans-serif, arial;
  font-weight: 400;
  line-height: 1.2; }

input,
select,
textarea {
  font-family: "Lato", "Open Sans", sans-serif, arial; }

h1 {
  font-size: 6rem; }

h2 {
  font-size: 4.2rem; }

h3 {
  font-size: 3rem; }

h4 {
  font-size: 2.4rem; }

h5 {
  font-size: 2rem; }

h6 {
  font-size: 1.6rem; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700; }

p,
ul,
li {
  font-size: 1.6rem; }

strong {
  font-weight: 700; }

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #777777; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #777777; }

:-ms-input-placeholder {
  /* IE 10+ */
  color: #777777; }

:-moz-placeholder {
  /* Firefox 18- */
  color: #777777; }

@media screen and (max-width: 991px) {
  h1 {
    font-size: 4rem; }
  h2 {
    font-size: 3rem; }
  h3 {
    font-size: 2.4rem; }
  h4 {
    font-size: 2rem; }
  h5 {
    font-size: 1.6rem; }
  h6 {
    font-size: 1.4rem; } }

@media screen and (max-width: 767px) {
  h1 {
    font-size: 3rem; }
  h2 {
    font-size: 2.6rem; }
  h3 {
    font-size: 2rem; }
  h4 {
    font-size: 1.8rem; }
  h5 {
    font-size: 1.4rem; }
  h6 {
    font-size: 1.2rem; } }

.card {
  border-radius: 0.3rem;
  overflow: hidden;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  backface-visibility: hidden; }
  .card__header {
    position: relative; }
  .card__image {
    width: 100%;
    height: 30rem;
    object-fit: cover;
    cursor: pointer; }
  .card__tag {
    position: absolute;
    color: #ffffff;
    font-weight: 300;
    background-color: #55c57a;
    padding: 1rem;
    bottom: 2rem;
    right: 2rem; }
    .card__tag--orange {
      background-color: #d67d17; }
    .card__tag--yellow {
      background-color: #fcd983;
      color: #444444; }
  .card__details {
    padding: 3rem 2rem; }
  .card__title {
    margin-bottom: 1rem;
    display: block;
    color: #444444;
    font-size: 2.2rem;
    font-weight: 700;
    text-decoration: none;
    cursor: pointer;
    width: 95%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
  .card__description {
    line-height: 1.4;
    display: block;
    height: 9rem;
    overflow: hidden; }
  .card__interaction {
    display: flex;
    align-items: center;
    padding-top: 2rem; }
  .card__interaction-block {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    font-weight: 700;
    cursor: pointer; }
    .card__interaction-block:not(:last-child) {
      margin-right: 2rem; }
  .card__interaction-icon {
    fill: #cd2d2d;
    width: 2rem;
    height: 2rem;
    margin-right: 1rem; }
  .card__interaction-icon-comment {
    fill: #444444; }
  .card__user-link {
    color: #444444;
    text-decoration: none; }
  .card__user {
    display: flex;
    align-items: center;
    background-color: #f7f7f7;
    padding: 1.5rem;
    border-top: 0.1rem solid #eaeaea;
    cursor: pointer; }
  .card__user-image {
    width: 6rem;
    height: 6rem;
    flex: 0 0 6rem;
    border-radius: 100%;
    margin-right: 1rem;
    object-fit: cover; }
  .card__user-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    font-size: 1.8rem; }
    .card__user-info div:first-child {
      font-weight: 700; }
    .card__user-info div:last-child {
      font-size: 1.6rem; }
  .card__user-options {
    width: 100%;
    display: flex;
    justify-content: space-between; }
    .card__user-options .button {
      flex: 0 1 48%; }

.card {
  flex: 0 1 30%;
  margin-bottom: 6rem; }

.all-posts {
  padding: 6rem 0; }

.cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

.cards--account .card {
  flex: 0 1 48%;
  margin-bottom: 6rem; }

@media screen and (max-width: 1200px) {
  .card__image {
    height: 22rem; }
  .card__tag {
    font-size: 1.2rem; }
  .card__details {
    padding: 2rem 1.5rem; }
  .card__title {
    margin-bottom: 0.5rem;
    font-size: 1.8rem; }
  .card__description {
    line-height: 1.2;
    font-size: 1.4rem;
    height: 7rem; }
  .card__interaction {
    padding-top: 1.5rem; }
  .card__user {
    padding: 1rem; }
  .card__user-image {
    width: 4rem;
    height: 4rem;
    flex: 0 0 4rem;
    margin-right: 1.5rem; }
  .card__user-info {
    font-size: 1.6rem; }
    .card__user-info div:first-child {
      font-weight: 500; }
    .card__user-info div:last-child {
      font-size: 1.4rem; }
  .card__user-options {
    width: 100%;
    display: flex;
    justify-content: space-between; }
    .card__user-options .button {
      flex: 0 1 48%; } }

@media screen and (max-width: 991px) {
  .all-posts {
    padding: 4rem 0; }
  .card {
    flex: 0 1 48%;
    margin-bottom: 4rem; } }

@media screen and (max-width: 590px) {
  .all-posts {
    padding: 2rem 0; }
  .card {
    flex: 0 1 100%;
    margin-bottom: 2rem; }
    .card__image {
      height: 25rem; }
    .card__tag {
      font-size: 1.4rem; }
    .card__details {
      padding: 3rem 2rem; }
    .card__title {
      margin-bottom: 0.5rem;
      font-size: 2rem; }
    .card__description {
      line-height: 1.4;
      font-size: 1.6rem;
      height: 7rem; }
    .card__interaction {
      padding-top: 2rem; }
    .card__user {
      padding: 2rem; }
    .card__user-image {
      width: 6rem;
      height: 6rem;
      flex: 0 0 6rem;
      margin-right: 1rem; }
    .card__user-info {
      font-size: 1.8rem; }
      .card__user-info div:first-child {
        font-weight: 700; }
      .card__user-info div:last-child {
        font-size: 1.4rem; }
    .card__user-options {
      width: 100%;
      display: flex;
      justify-content: space-between; }
      .card__user-options .button {
        flex: 0 1 48%; } }

.all-userCards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

.card-user {
  border-radius: 0.3rem;
  overflow: hidden;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  backface-visibility: hidden;
  flex: 0 1 48%;
  margin-top: 5rem; }
  .card-user__header {
    display: flex;
    align-items: center;
    padding: 3rem 1.5rem; }
  .card-user__image {
    margin-right: 1.5rem;
    flex: 0 0 12rem; }
    .card-user__image img {
      width: 12rem;
      height: 12rem;
      object-fit: cover;
      border-radius: 100%;
      cursor: pointer; }
  .card-user__userInfo {
    flex: 1; }
  .card-user__title {
    font-size: 2.8rem;
    text-decoration: none;
    color: #444444;
    cursor: pointer;
    font-weight: 700; }
  .card-user__date {
    font-size: 1.8rem;
    margin: 1rem 0 1.5rem 0; }
  .card-user__footer {
    background-color: #f7f7f7;
    border-top: 0.1rem solid #eaeaea;
    cursor: pointer;
    height: 6.5rem;
    padding: 1.5rem;
    display: flex;
    align-items: center; }
  .card-user__social-icon {
    width: 5rem;
    height: 5rem;
    fill: #444444; }
    .card-user__social-icon:not(:last-child) {
      margin-right: 1.5rem; }

@media screen and (max-width: 991px) {
  .card-user {
    margin-top: 4rem; }
    .card-user__header {
      display: flex;
      align-items: flex-start;
      padding: 2rem 1rem; }
    .card-user__image {
      flex: 0 0 9rem; }
      .card-user__image img {
        width: 9rem;
        height: 9rem; }
    .card-user__title {
      font-size: 1.8rem; }
    .card-user__date {
      font-size: 1.4rem;
      margin: 0 0 1.5rem 0; }
    .card-user__footer {
      height: 5rem;
      padding: 1rem; }
    .card-user__social-icon {
      width: 4rem;
      height: 4rem; }
      .card-user__social-icon:not(:last-child) {
        margin-right: 0.5rem; } }

@media screen and (max-width: 580px) {
  .card-user {
    flex: 0 1 100%;
    margin-top: 3rem; }
  __title {
    font-size: 1.8rem; } }

.login-form {
  margin: 6rem auto 8rem auto;
  max-width: 65rem;
  background-color: #ffffff;
  box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.06);
  padding: 5rem 7rem;
  border-radius: 5px; }
  .login-form__title {
    margin: 2.5rem 0 4rem 0;
    color: #55c57a; }

@media screen and (max-width: 767px) {
  .login-form {
    margin: 4rem auto 6rem auto;
    padding: 3rem 5rem; } }

@media screen and (max-width: 580px) {
  .login-form {
    margin: 4rem auto 6rem auto;
    padding: 2rem; }
    .login-form__title {
      margin: 2rem 0;
      font-size: 1.8rem; } }

.forgot-password-form, .reset-password-form {
  margin: 0 auto;
  margin-top: 4rem;
  max-width: 80rem;
  background-color: #ffffff;
  box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.06);
  padding: 5rem 7rem;
  border-radius: 5px; }
  .forgot-password-form__title, .reset-password-form__title {
    margin: 2.5rem 0 1rem 0;
    color: #55c57a; }
  .forgot-password-form__description, .reset-password-form__description {
    font-size: 1.8rem;
    color: #777777;
    margin-bottom: 4rem; }

@media screen and (max-width: 767px) {
  .forgot-password-form, .reset-password-form {
    padding: 3rem; }
    .forgot-password-form__title, .reset-password-form__title {
      margin: 1.5rem 0 1rem 0;
      color: #55c57a; }
    .forgot-password-form__description, .reset-password-form__description {
      font-size: 1.6rem;
      color: #777777;
      margin-bottom: 2.5rem; } }

.comment-form {
  padding-bottom: 2rem; }

.form--createPost {
  background-color: #ffffff;
  box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.06);
  padding: 5rem;
  border-radius: 5px;
  margin-bottom: 6rem; }

.form--changePassword {
  background-color: #ffffff;
  padding: 5rem;
  border-radius: 5px;
  margin-bottom: 6rem; }

.form--account {
  background-color: #ffffff;
  padding: 5rem;
  border-radius: 5px; }

.form__group {
  margin-bottom: 2.5rem; }
  .form__group:last-child {
    margin-bottom: 0; }
  .form__group .button {
    margin-left: auto;
    display: block; }

.form__label {
  display: block;
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: #777777; }

.form__textarea, .form__input {
  display: block;
  font-family: inherit;
  font-size: 1.6rem;
  color: inherit;
  padding: 1.25rem 1.75rem;
  border: none;
  width: 100%;
  background-color: #f2f2f2;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  color: #444444; }

.form__textarea {
  min-height: 15rem;
  background-color: #eaeaea; }

.form__radio {
  margin-bottom: 1.5rem; }
  .form__radio:last-child {
    margin-bottom: 3rem; }
  .form__radio input[type="radio"] {
    position: absolute;
    opacity: 0; }
    .form__radio input[type="radio"] + .form__radio-label {
      color: #777777;
      font-weight: 500;
      font-size: 1.6rem;
      text-transform: capitalize; }
      .form__radio input[type="radio"] + .form__radio-label:before {
        content: '';
        background: #f7f7f7;
        border-radius: 100%;
        border: 0.1rem solid #b7b7b7;
        display: inline-block;
        width: 2rem;
        height: 2rem;
        position: relative;
        top: 0.05em;
        margin-right: 1rem;
        vertical-align: top;
        cursor: pointer;
        text-align: center;
        transition: all 250ms ease; }
    .form__radio input[type="radio"]:checked + .form__radio-label:before {
      background-color: #55c57a;
      box-shadow: inset 0 0 0 0.4rem #f7f7f7; }
    .form__radio input[type="radio"]:focus + .form__radio-label:before {
      outline: none;
      border-color: #55c57a; }
    .form__radio input[type="radio"]:disabled + .form__radio-label:before {
      box-shadow: inset 0 0 0 0.4rem #f7f7f7;
      border-color: #b7b7b7;
      background: #b7b7b7; }

.form__upload {
  width: 0.01rem;
  height: 0.01rem;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1; }
  .form__upload + label {
    color: #55c57a;
    display: inline-block;
    text-decoration: none;
    border-bottom: 0.1rem solid #55c57a;
    padding: 0.3rem;
    font-size: 2rem;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    cursor: pointer; }

.form__photo-upload {
  display: flex;
  align-items: center;
  font-size: 1.6rem; }

.form__user-photo {
  height: 8rem;
  width: 8rem;
  border-radius: 100%;
  object-fit: cover;
  margin-right: 2rem; }

.form__useraccount-block {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4rem; }
  .form__useraccount-block a {
    color: #55c57a;
    text-decoration: none;
    font-size: 1.8rem;
    transition: all 0.4s;
    font-weight: 700; }
    .form__useraccount-block a:hover {
      transform: translateY(-2px); }

@media screen and (max-width: 767px) {
  .form--createPost {
    padding: 3rem;
    margin-bottom: 0; }
  .form__group {
    margin-bottom: 2rem; }
  .form__label {
    font-size: 1.6rem;
    font-weight: 500; }
  .form__upload + label {
    font-size: 1.6rem; }
  .form__photo-upload {
    display: flex;
    align-items: center;
    font-size: 1.6rem; }
  .form__user-photo {
    height: 6rem;
    width: 6rem;
    margin-right: 1.5rem; }
  .form__useraccount-block {
    margin-bottom: 3rem; }
    .form__useraccount-block a {
      font-size: 1.4rem;
      font-weight: 500; } }

@media screen and (max-width: 580px) {
  .form__group {
    margin-bottom: 2rem; }
  .form__label {
    font-size: 1.4rem; }
  .form__upload + label {
    font-size: 1.2rem; }
  .form__useraccount-block {
    margin-bottom: 2rem;
    display: block; }
    .form__useraccount-block a {
      font-size: 1.2rem;
      font-weight: 700;
      display: block; }
      .form__useraccount-block a:not(last-child) {
        margin-bottom: 1rem; } }

.create-post {
  max-width: 80rem;
  margin: 0 auto;
  transform: translateY(-40rem);
  color: #ffffff; }
  .create-post--edit {
    color: #777777; }
  .create-post__title {
    color: currentColor;
    margin-bottom: 1rem; }
  .create-post__description {
    color: currentColor;
    font-size: 2rem;
    margin-bottom: 4rem; }

.account-settings {
  margin-bottom: 4rem; }
  .account-settings__title {
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 700;
    background-image: linear-gradient(to right, #7dd56f, #28b487);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    letter-spacing: 0.1rem;
    line-height: 1.3;
    display: inline-block;
    margin-bottom: 4rem; }

.button {
  font-size: 1.8rem;
  padding: 1.4rem 3rem;
  border-radius: 10rem;
  text-transform: uppercase;
  display: inline-block;
  text-decoration: none;
  position: relative;
  transition: all 0.4s;
  font-weight: 400;
  border: none;
  text-align: center;
  cursor: pointer; }
  .button:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15); }
  .button--green {
    background-color: #55c57a;
    color: #ffffff; }
  .button--white {
    background-color: #ffffff;
    color: #444444; }
  .button--yellow {
    background-color: #fcd983;
    color: #444444; }
  .button--red {
    background-color: #cd2d2d;
    color: #ffffff; }

@media screen and (max-width: 991px) {
  .button {
    font-size: 1.6rem;
    padding: 1rem 1.5rem; } }

@media screen and (max-width: 580px) {
  .button {
    font-size: 1.2rem;
    padding: 1rem 1.2rem; } }

.post__banner {
  height: 50rem;
  position: relative;
  background-image: linear-gradient(to right bottom, #7dd56f, #28b487); }
  .post__banner .author-options {
    display: flex;
    position: absolute;
    top: 2rem;
    left: 2rem; }
    .post__banner .author-options .button {
      width: 20rem; }
    .post__banner .author-options .button:not(:last-child) {
      margin-right: 1rem; }
  .post__banner--edit {
    background-image: linear-gradient(to right bottom, #fcd983, #f7c74f); }

.post__banner--account {
  height: auto;
  padding: 5rem 0; }

.post__container {
  max-width: 80rem;
  margin: 0 auto;
  position: relative;
  top: -45rem; }

.post__header {
  margin: 3rem 0 1.5rem 0; }

.post__top {
  display: flex;
  margin-bottom: 5rem; }

.post__image-block {
  flex: 0 0 20rem;
  margin-right: 2.5rem; }
  .post__image-block img {
    width: 100%;
    height: 100%; }

.post__title {
  flex: 1;
  color: #ffffff;
  font-size: 5rem;
  margin-bottom: 3rem; }

.post__user {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.post__user-block {
  display: flex;
  align-items: center; }

.post__user-social {
  display: flex; }

.post__user-social-icon {
  fill: #ffffff;
  width: 3rem;
  height: 3rem;
  cursor: pointer; }
  .post__user-social-icon:not(:last-child) {
    margin-right: 1.5rem; }

.post__user-icon {
  width: 5rem;
  height: 5rem;
  margin-right: 1rem;
  border-radius: 100%; }

.post__user-name {
  color: #ffffff;
  font-size: 1.8rem;
  font-weight: 700; }

.post__body {
  border-radius: 0.3rem;
  overflow: hidden;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  padding: 5rem 4rem; }
  .post__body h3 {
    margin-bottom: 1rem;
    color: #55c57a; }
  .post__body p {
    font-size: 2rem; }
    .post__body p:not(:last-child) {
      margin-bottom: 4rem; }

@media screen and (max-width: 991px) {
  .post__banner .author-options {
    display: flex;
    left: 0;
    width: 100%; }
    .post__banner .author-options .button {
      width: 21%;
      margin: 2%; }
  .post__header {
    margin: 3rem 0 1.5rem 0; }
  .post__top {
    display: flex;
    margin-bottom: 4rem; }
  .post__title {
    font-size: 4rem; }
  .post__body {
    padding: 2.5rem 2rem; }
    .post__body p {
      font-size: 1.8rem; } }

@media screen and (max-width: 767px) {
  .post__banner .author-options .button {
    font-size: 1.2rem; }
  .post__banner .back-button {
    position: absolute;
    left: 5rem;
    bottom: 5rem; }
  .post__header {
    margin: 3rem 0 1.5rem 0; }
  .post__body {
    padding: 2rem; }
    .post__body p {
      font-size: 1.6rem; } }

@media screen and (max-width: 580px) {
  .post__top {
    display: block;
    margin-bottom: 4rem; }
  .post__image-block {
    display: block;
    margin: 0 auto;
    width: 20rem; }
  .post__title {
    margin-top: 2.5rem;
    text-align: center;
    font-size: 2.5rem; } }

.comment {
  margin: 4rem 0;
  background-color: #ffffff;
  padding: 4rem 2.5rem;
  border-radius: 0.3rem;
  overflow: hidden;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.1); }
  .comment__header {
    margin-bottom: 2.5rem; }
  .comment__title {
    margin-bottom: 0.5rem; }
  .comment__auth {
    color: #3f4bf9;
    font-weight: 500;
    text-decoration: none;
    font-size: 1.8rem; }
  .comment .button {
    display: block;
    margin-left: auto; }
  .comment__total {
    float: right;
    font-size: 1.8rem; }

.comment-post {
  margin-top: 2.5rem;
  padding-top: 2.5rem;
  border-top: 0.2rem solid #f7f7f7;
  display: flex;
  position: relative; }
  .comment-post__icon {
    flex: 0 0 8rem; }
    .comment-post__icon img {
      width: 8rem;
      height: 8rem;
      object-fit: cover;
      border-radius: 100%; }
  .comment-post__information {
    flex: 1;
    margin: 0 2rem; }
  .comment-post__user-name {
    font-size: 1.8rem;
    margin-bottom: 0.5rem; }
    .comment-post__user-name span {
      margin-left: 1.5rem;
      font-size: 1.2rem;
      font-weight: 500; }
  .comment-post__user-comment {
    font-size: 1.6rem; }
  .comment-post__interaction {
    position: absolute;
    top: 2rem;
    right: 0;
    width: 20%;
    font-size: 1rem; }
    .comment-post__interaction .button {
      display: block;
      font-size: 1.2rem;
      padding: 1.5rem; }
  .comment-post__post-icon {
    fill: #777777;
    width: 2rem;
    height: 2rem; }
    .comment-post__post-icon:not(:last-child) {
      margin-right: 1rem; }
  .comment-post__count {
    color: #777777;
    font-size: 1.6rem;
    margin-right: 0.5rem;
    font-weight: 700; }

.nav {
  display: flex; }
  .nav--posts {
    flex: 0 1 40%; }
  .nav__user {
    flex: 0 1 40%;
    justify-content: flex-end; }
  .nav__user-img {
    height: 4rem;
    width: 4rem;
    border-radius: 100%;
    margin-right: 1rem;
    object-fit: cover; }
  .nav__el {
    color: #f7f7f7;
    text-transform: uppercase;
    font-size: 1.8rem;
    text-decoration: none;
    display: flex;
    align-items: center;
    transition: all 0.2s;
    font-weight: 400;
    border: none;
    cursor: pointer; }
    .nav__el:hover {
      transform: translateY(-2px);
      text-shadow: 0 0.7rem 1rem #000; }
    .nav__el:not(:last-child) {
      margin-right: 3rem; }
    .nav__el--cta {
      padding: 1.5rem 3rem;
      border-radius: 5rem;
      border: 1px solid currentColor;
      transition: all 0.3s; }
      .nav__el--cta:hover {
        background-color: #f7f7f7;
        color: #777777;
        text-shadow: none;
        border-color: #f7f7f7; }

.account {
  display: flex;
  padding: 6rem 0; }
  .account--settings {
    background-color: #ffffff;
    box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.06); }
  .account__options {
    background-image: linear-gradient(to right bottom, #7dd56f, #28b487);
    flex: 0 0 23%;
    margin-right: 4%;
    padding: 2.5rem; }
  .account__view {
    flex: 1; }
  .account__view-title {
    text-transform: uppercase;
    font-weight: 700;
    background-image: linear-gradient(to right, #7dd56f, #28b487);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    letter-spacing: 0.1rem;
    line-height: 1.3;
    display: inline-block;
    margin-bottom: 4rem; }

.account-nav__ul {
  list-style-type: none; }

.account-nav__el {
  font-size: 1.8rem;
  text-transform: uppercase;
  border-bottom: 0.1rem solid #ffffff;
  padding: 2rem 0; }
  .account-nav__el:last-child {
    border: 0; }

.account-nav a {
  text-decoration: none;
  color: #ffffff; }

.user-header {
  display: flex;
  align-items: center; }
  .user-header__image {
    flex: 0 0 20rem; }
    .user-header__image img {
      width: 20rem;
      height: 20rem;
      border-radius: 100%;
      object-fit: cover; }
  .user-header__info {
    flex: 0 0 50%;
    margin: 0 4rem;
    color: #ffffff; }
  .user-header__info-name {
    color: currentColor;
    font-size: 4rem; }
  .user-header__info-description {
    color: currentColor;
    font-size: 1.8rem;
    margin: 0.5rem 0 2rem 0; }
  .user-header__socials-icon {
    fill: #ffffff;
    height: 4rem;
    width: 4rem; }
    .user-header__socials-icon:not(:last-child) {
      margin-right: 2rem; }

.header {
  background-color: #444444;
  padding: 2rem 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .header__logo img {
    height: 3.5rem; }

.footer {
  background-color: #f7f7f7;
  width: 100%;
  padding: 6rem 4rem 3rem 4rem;
  font-size: 1.4rem;
  display: grid;
  grid-template-columns: auto auto;
  grid-row-gap: 0.75rem;
  justify-content: space-between; }
  .footer__logo {
    grid-row: 1 / 3;
    align-self: center; }
    .footer__logo img {
      height: 3rem; }
  .footer__nav {
    list-style: none;
    display: flex;
    justify-content: flex-end; }
    .footer__nav li {
      margin-left: 1.5rem; }
    .footer__nav a {
      color: #777777;
      text-decoration: none !important;
      -webkit-transition: all 0.2s;
      transition: all 0.2s; }
  .footer__copyright {
    justify-self: end;
    color: #999; }
